<% if @person.location %>
  <div id="static_map">
    <h3>Grew up in <%= @person.location %></h3>
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@person.location}&zoom=8&size=570x570&scale=1&sensor=false&markers=size:small%7Ccolor:red%7C#{@person.location}" %>
  </div>
<% end -%>