<div class="list-group" id="person_videos">
  <% person.clips.each do |clip| %>
    <% if !defined?(current_clip) or current_clip != clip %>
      <%= link_to(clip, clip.video_switcher_params.merge(class: ['list-group-item'])) do %>
        <i class="icon-play"></i> <span class="title"><%= clip.title %> <%= duration_pretty(clip) %></span>
      <% end -%>
    <% end -%>
  <% end -%>
 </div>