<% @title = t('.title')  %>
<% @meta_description = t('.meta_description') %>

<%= content_for :header do %>
  <h1><%= t '.title' %></h1>
<% end -%>

<ul class="nav nav-stacked">
  <% @people.each do |person| %>
    <li><%= link_to person.full_name, person %></li>
  <% end -%>
</ul>