<div class="container">
  <div class="row">
    <div class="alert alert-info">
      Add some branding below the navbar by creating app/views/layouts/kinney/_brand_below_navbar.html.erb
    </div>
  </div>
</div>
