<footer>
  <p>Replace the footer by overriding: app/views/layouts/kinney/_footer.html.erb</p>
    <ul>
      <li>
        <%= link_to 'About', about_path %>
      </li>
      <li>
        <%= link_to 'Contact', about_path %>
      </li>

    </ul>
  </div>


</footer>