<% [:notice, :error, :alert].each do |level| %>
  <% if !flash[level].blank? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-<%= level == :notice ? "success" : "error" %>">
        <%= content_tag :p, flash[level] %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>