<li class="dropdown <%= 'active' if controller?('kinney/topics') %>">
  <%= link_to(kinney.topics_path, :class=> "dropdown-toggle", :'data-toggle' => :dropdown,
    :'data-target' => '#') do %>
    Topics <b class="caret"></b>
  <% end -%>
  <ul class="dropdown-menu" id="topics_nav">
    <% @navigation_topics.each do |topic| %>
      <%= content_tag('li', :class => topic_li_class(topic)) do %>
        <%= link_to topic.name, topic %>
      <% end -%>
    <% end -%>
  </ul>
</li>
