<div class="navbar navbar-default" role="navigation" id="global_nav">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to application_name, kinney.root_path, :class => 'navbar-brand' %>
  </div>

  <div class="collapse navbar-collapse navbar-1-collapse">
    <ul class="nav navbar-nav">
      <%= render partial: '/layouts/kinney/navbar_links' %>
    </ul>
    <%= render '/kinney/search_form' %>
  </div>
</div>