<div class="social_buttons group">
  
  <span class="email">
    <%= link_to email_to_resource, target: '_blank', :class => :social, :title => 'Share via email' do %>
      <i class="icon-envelope-alt"></i>
    <% end %>
  </span>

  <span class="googleplus">  
    <%= link_to googleplus_url_for_resource, target: '_blank', :class => :social, :title => 'Share on Google+' do %>
      <i class="icon-google-plus-sign"></i>
    <% end %>
  </span>   
  
  <span class="facebook">
    <%= link_to facebook_url_for_resource, target: '_blank', :class => :social, :title => 'Share on Facebook' do %>
      <i class="icon-facebook-sign"></i>
    <% end %>
  </span>  
  
  <span class="twitter">          
    <%= link_to twitter_url_for_resource, target: '_blank', :class => :social, :title => 'Share on Twitter' do %>
      <i class="icon-twitter-sign"></i>
    <% end %>
  </span>

</div>