<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-via="ncsulibraries" data-count="none" data-size="small">Tweet</a>
<div class="g-plusone" data-size="small" data-annotation="none"></div>
<div class="fb-like" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false" data-font="arial"></div>
