---
http_interactions:
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1964-p123-atkins&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1964-p123-atkins",
        "imagefile": "/storage/si-ag/si-ag1964-p123-atkins.jp2",
        "width": "331",
        "height": "327",
        "dwtLevels": "7",
        "levels": "2",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:38:14 GMT
[...]
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1964-p123-atkins&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1964-p123-atkins",
        "imagefile": "/storage/si-ag/si-ag1964-p123-atkins.jp2",
        "width": "331",
        "height": "327",
        "dwtLevels": "7",
        "levels": "2",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:38:14 GMT
recorded_with: VCR 2.4.0
