---
http_interactions:
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1962-p408-tolson&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1962-p408-tolson",
        "imagefile": "/storage/si-ag/si-ag1962-p408-tolson.jp2",
        "width": "360",
        "height": "464",
        "dwtLevels": "7",
        "levels": "3",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:38:07 GMT
[...]
- request:
    method: get
    uri: http://siskel.lib.ncsu.edu/SLI/tolson/tolson-mentors_caldwell/tolson-mentors_caldwell.vtt
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\r\n<HTML><HEAD><TITLE>The
        page cannot be found</TITLE>\r\n<META HTTP-EQUIV=\"Content-Type\" Content=\"text/html;
        charset=Windows-1252\">\r\n<STYLE type=\"text/css\">\r\n  BODY { font: 8pt/12pt
        verdana }\r\n  H1 { font: 13pt/15pt verdana }\r\n  H2 { font: 8pt/12pt verdana
        }\r\n  A:link { color: red }\r\n  A:visited { color: maroon }\r\n</STYLE>\r\n</HEAD><BODY><TABLE
        width=500 border=0 cellspacing=10><TR><TD>\r\n\r\n<h1>The page cannot be found</h1>\r\nThe
        page you are looking for might have been removed, had its name changed, or
        is temporarily unavailable.\r\n<hr>\r\n<p>Please try the following:</p>\r\n<ul>\r\n<li>Make
        sure that the Web site address displayed in the address bar of your browser
        is spelled and formatted correctly.</li>\r\n<li>If you reached this page by
        clicking a link, contact\r\n the Web site administrator to alert them that
        the link is incorrectly formatted.\r\n</li>\r\n<li>Click the <a href=\"javascript:history.back(1)\">Back</a>
        button to try another link.</li>\r\n</ul>\r\n<h2>HTTP Error 404 - File or
        directory not found.<br>Internet Information Services (IIS)</h2>\r\n<hr>\r\n<p>Technical
        Information (for support personnel)</p>\r\n<ul>\r\n<li>Go to <a href=\"http://go.microsoft.com/fwlink/?linkid=8180\">Microsoft
        Product Support Services</a> and perform a title search for the words <b>HTTP</b>
        and <b>404</b>.</li>\r\n<li>Open <b>IIS Help</b>, which is accessible in IIS
        Manager (inetmgr),\r\n and search for topics titled <b>Web Site Setup</b>,
        <b>Common Administrative Tasks</b>, and <b>About Custom Error Messages</b>.</li>\r\n</ul>\r\n\r\n</TD></TR></TABLE></BODY></HTML>\r\n"
  recorded_at: Fri, 29 Mar 2013 16:38:08 GMT
[...]
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1962-p408-tolson&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1962-p408-tolson",
        "imagefile": "/storage/si-ag/si-ag1962-p408-tolson.jp2",
        "width": "360",
        "height": "464",
        "dwtLevels": "7",
        "levels": "3",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:38:08 GMT
recorded_with: VCR 2.4.0
