---
http_interactions:
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1962-p408-tolson&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1962-p408-tolson",
        "imagefile": "/storage/si-ag/si-ag1962-p408-tolson.jp2",
        "width": "360",
        "height": "464",
        "dwtLevels": "7",
        "levels": "3",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:38:09 GMT
[...]
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1962-p100-tolson&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1962-p100-tolson",
        "imagefile": "/storage/si-ag/si-ag1962-p100-tolson.jp2",
        "width": "1276",
        "height": "1420",
        "dwtLevels": "7",
        "levels": "4",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:38:10 GMT
recorded_with: VCR 2.4.0
