$(function() {
  var num_of_rows_to_show = '3';

  $('#transcript_table')
  .find('tr:gt(' + num_of_rows_to_show + ')').hide().end()
  .after('<div id="more_transcript"><a id="more_transcript_button" class="btn"><i class="icon-arrow-down"></i> <%= I18n.t('kinney.transcript.show_all') %></a><a id="hide_transcript_button" class="btn" style="display:none;"><i class="icon-arrow-up"></i> <%= I18n.t('kinney.transcript.hide') %></a></div>');

  $('#transcript_table')
  .find('tr:nth-child(' + num_of_rows_to_show + ')').addClass('last');

  var toggles = function(){
    $('table')
    .find('tr:gt(' + num_of_rows_to_show + ')').toggle();
    $('#more_transcript a').toggle();
    $('table tr:nth-child(' + num_of_rows_to_show + ')').toggleClass('last');
    return false;
  }


  $("#more_transcript_button").click(function() {
    toggles();
  });
  $("#hide_transcript_button").click(function() {
    toggles();
  });


  Kinney.twitter_bootstrap_popover_placement = function(){
    var width = window.innerWidth;
    if ($('#kinney_people_show').length > 0){
      return 'bottom';
    }
    if (width<900) return 'bottom';
    return 'left';
  }

  // We only want popovers to show up on the desktop. These are currently just
  // informational, so we do not need to show them on touch devices.
  $('[rel="popover"]').popover({
    trigger: 'manual',
    placement: Kinney.twitter_bootstrap_popover_placement
  }).mouseover(function(evt) {
    if ("ontouchstart" in document.documentElement) {
      $(this).popover('hide');
      window.location.replace($(this).attr('href'))
    } else {
      $(this).popover('show');
    }    
  }).mouseleave(function(evt){
    $(this).popover('hide');
  });

});