<% @title = t('.title') %>
<% @meta_description = t('.description') %>

<%= content_for :header do %>
  <h1><%= t '.title' %></h1>
  <p><%= t '.description' %></p>
<% end -%>

<div class="row">
  <div class="span4">
    <ul class="nav nav-tabs nav-stacked" id="topics">
      <% @topics.each do |topic| %>
        <%# FIXME: make this code prettier %>
        <li><%= link_to topic.name + ' (' + topic.clips.count.to_s + ')', topic %></li>
      <% end -%>
    </ul>
  </div>
</div>