<%= content_for :header do %>  
  <h1><%= @topic.name %></h1>
  <p><%= @topic.description %></p> 
<% end -%>

<div class="row">
  <div class="span12" id="clips">
    <ul class="thumbnails">
      <% @topic.clips.each do |clip| %>
      <li class="span4">
        <%= render :partial => '/kinney/clip_link', :locals => {:clip => clip} %>        
      </li>
      <% end -%>
    </ul>
  </div>
</div>


  
