$(document).ready(function() {
  $('body.edit.admin_kinney_images #main_content, body.new.admin_kinney_images #main_content').prepend('<div id="preview_image"></div>');

  var delay_before_insert = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

  function insert_image(){
    var base_url = "/photos/";
    var full_url = base_url + $('#kinney_image_filename').val() + '.jpg';
    var image_tag = '<img src="' + full_url + '"/>'
    $('#preview_image').html(image_tag);
  }

  if ($('body.admin_kinney_images #kinney_image_filename').length > 0 && $('#kinney_image_filename').val().length > 0){
    insert_image();
  }

  $('input#kinney_image_filename').keyup(function(){
    delay_before_insert(function(){
      insert_image();
    }, 1000 );

  });

});
