#more_transcript {
  text-align:right;
  #more_transcript_button {top:-50px;position:relative;}
}

/* fade the last line showing */
#transcript_table tr.last {
    opacity: 0.5;
}

.thumbnail {
  .nav-stacked {
    margin-bottom: 0;
  }
}