ul#clip_profiles {
  .one {clear:both;}
  .nav {margin-bottom: 0;}
}

#more_transcript {
  text-align:right;
  #more_transcript_button {top:-50px;position:relative;}
}

/* fade the last line showing */
#transcript_table tr.last {
    opacity: 0.5;
}

#topic_clips {
    .clips { max-height: 490px; overflow:auto}
}

i.icon-play { 
  padding: 5px;
}

#person_videos {
  .description {
    color: black;
    display: inline-block;
    margin-top: 10px;
  }
  .title {
    font-size: 1.2em;
    color: grey;
    font-weight: bold;    
  }
}

.thumbnail {
  .nav-stacked {
    margin-bottom: 0;
  }
}