#action_buttons {
  a {
    width: 90%;
  }
}

div#home_video_image {
  img {width:100%}
  position:relative;
}

#more_clips {
  li.odd {clear:both;}
  .thumbnail_video {
    margin-bottom: 20px;
  }
}

// #featured_clip {
//   h2 {margin-bottom: 0; margin-top:0}
// }