#bio #image_top_pick {float: left; margin-right: 10px;}

.modal-body {text-align: center}

#person_clips #person_clips_image img {width: 100%}

.thumbnail.person_read_more {
  .image {
    float:left; 
    margin-right: 10px;
  }
  .text {
    overflow:hidden;
    .bio {color:black;}
    .name {
      font-size: 1.2em;
      color: grey;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }  
}

#kinney_clips_show {
  .thumbnail.person_read_more {margin-bottom: 20px}
}

#profile_info {
  section {
    margin-bottom: 30px;
  }
}