.social_buttons {
  a {
    float: left;
    font-size: 34px;
    display:inline-block;
    margin-left: 10px;
    color: gray; //$grayLight;
    &:hover {
      text-decoration: none;
      color: gray //$grayDark;
    }
  }

}