.social_buttons {
  a {
    float: left;
    font-size: 34px;
    display:inline-block;
    margin-left: 10px;
    color: $grayLight;
    &:hover {
      text-decoration: none;
      color: $grayDark;
    }
  }  
  
}