/* These are overrides for the mediaelementsjs player and conflicts with other included CSS */
.mejs-captions-selector label {color: white}


.thumbnail_video {
  .thumbnail_image {
    position:relative;
    @include box-shadow(0 4px 2px -2px grey); 
  }
  .name {
    font-size: 1.2em;
    color: grey;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &:hover {
    .thumbnail_image {
      box-shadow-color: #005580;
    }  
  }
}

h4 {
    font-size: 18px;
    line-height: 25px;
    margin: 5px 0 5px 5px;
  }

#video_container, #home_video_image {  
  margin-bottom: 10px;
}