---
http_interactions:
- request:
    method: get
    uri: http://siskel.lib.ncsu.edu/SLI/atkins/atkins-campuslife_fire/atkins-campuslife_fire.vtt
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/vtt;charset=utf-8
      Last-Modified:
      - Mon, 25 Jun 2012 17:56:55 GMT
      Etag:
      - '"938d6de8fb52cd1:aa39"'
    body:
      encoding: UTF-8
      string: "\uFEFFWEBVTT FILE\r\n\r\n1\r\n00:00:00 --> 00:00:05\r\nIt was a frightening
        time but it also was a time of great student intrigue \r\n\r\n2\r\n00:00:06
        --> 00:00:10\r\nand the kind of who-dun-it syndrome set in. \r\n\r\n3\r\n00:00:11
        --> 00:00:15\r\nBeing where Pullen Hall was and where the school of design
        was-\r\n\r\n4\r\n00:00:16 --> 00:00:19\r\nand the fact we never left the schoo[...]
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1964-p123-atkins&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1964-p123-atkins",
        "imagefile": "/storage/si-ag/si-ag1964-p123-atkins.jp2",
        "width": "331",
        "height": "327",
        "dwtLevels": "7",
        "levels": "2",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:55:06 GMT
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1964-p123-atkins&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1964-p123-atkins",
        "imagefile": "/storage/si-ag/si-ag1964-p123-atkins.jp2",
        "width": "331",
        "height": "327",
        "dwtLevels": "7",
        "levels": "2",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:55:06 GMT
recorded_with: VCR 2.4.0
