<h1><span itemprop="name"><%= clip.title %></span>
  <div class="people_title">
    <% clip.people.each do |person| %>
      <%= link_to person.full_name, person, class: :person_title %><br>
    <% end -%>
  </div>
</h1>