---
http_interactions:
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=0004685&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "0004685",
        "imagefile": "/storage/00046/0004685.jp2",
        "width": "8925",
        "height": "11344",
        "dwtLevels": "7",
        "levels": "7",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:33:40 GMT
[...]
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1962-p100-tolson&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1962-p100-tolson",
        "imagefile": "/storage/si-ag/si-ag1962-p100-tolson.jp2",
        "width": "1276",
        "height": "1420",
        "dwtLevels": "7",
        "levels": "4",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:33:41 GMT
[...]
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1964-p123-atkins&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1964-p123-atkins",
        "imagefile": "/storage/si-ag/si-ag1964-p123-atkins.jp2",
        "width": "331",
        "height": "327",
        "dwtLevels": "7",
        "levels": "2",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:33:41 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:60316/admin/kinney_images"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"get","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":""}'
  recorded_at: Fri, 29 Mar 2013 16:33:42 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"/html"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":[{"ELEMENT":"{6a67a646-46f7-46d4-bc77-dc6e3454051d}"}]}'
  recorded_at: Fri, 29 Mar 2013 16:33:42 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/element/%7B6a67a646-46f7-46d4-bc77-dc6e3454051d%7D/text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementText","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":"Kinney\nDashboard
        Kinney Admin Users Kinney Clips Kinney Images Kinney People Kinney Topics\nadmin@example.com
        Logout\nADMIN /\nKinney Images\nNew Kinney Image\nThumbnail\nFilename\nTop
        Pick\nPeople\n0004685 true William Friday ViewEditDelete\nsi-ag1962-p100-tolson
        false Edward Norris Tolson ViewEditDelete\nsi-ag1962-p408-tolson true Edward
        Norris Tolson ViewEditDelete\nsi-ag1964-p123-atkins true John Leslie Atkins,
        III ViewEditDelete\nsi-ag1962-p212-tolson false Edward Norris Tolson ViewEditDelete\nDisplaying
        all 5 Kinney Images\nDownload: CSV XML JSON\nFilters\nSEARCH FILENAME\nTOP
        PICK\nCREATED AT\n-\nUPDATED AT\n-\nClear Filters\nPowered by Active Admin
        0.5.1"}'
  recorded_at: Fri, 29 Mar 2013 16:33:43 GMT
recorded_with: VCR 2.4.0
