---
http_interactions:
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1962-p100-tolson&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1962-p100-tolson",
        "imagefile": "/storage/si-ag/si-ag1962-p100-tolson.jp2",
        "width": "1276",
        "height": "1420",
        "dwtLevels": "7",
        "levels": "4",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:34:02 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:60316/admin/kinney_images/814402043"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"get","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":""}'
  recorded_at: Fri, 29 Mar 2013 16:34:02 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//div//img"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":[{"ELEMENT":"{16848282-a11a-48e9-968f-a628729b7b9b}"}]}'
  recorded_at: Fri, 29 Mar 2013 16:34:02 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/element/%7B16848282-a11a-48e9-968f-a628729b7b9b%7D/attribute/src
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementAttribute","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":"http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1962-p100-tolson&svc.level=2&svc_id=info%3Alanl-repo%2Fsvc%2FgetRegion&svc_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajpeg2000&url_ver=Z39.88-2004"}'
  recorded_at: Fri, 29 Mar 2013 16:34:02 GMT
recorded_with: VCR 2.4.0
