---
http_interactions:
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1962-p100-tolson&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1962-p100-tolson",
        "imagefile": "/storage/si-ag/si-ag1962-p100-tolson.jp2",
        "width": "1276",
        "height": "1420",
        "dwtLevels": "7",
        "levels": "4",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:33:47 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:60316/admin/kinney_images/814402043"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"get","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":""}'
  recorded_at: Fri, 29 Mar 2013 16:33:48 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"/html"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":[{"ELEMENT":"{051308d3-0333-482c-b3be-d82430de1d4e}"}]}'
  recorded_at: Fri, 29 Mar 2013 16:33:48 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/element/%7B051308d3-0333-482c-b3be-d82430de1d4e%7D/text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementText","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":"Kinney\nDashboard
        Kinney Admin Users Kinney Clips Kinney Images Kinney People Kinney Topics\nadmin@example.com
        Logout\nADMIN / KINNEY IMAGES /\nKinney Image #814402043\nEdit Kinney Image
        Delete Kinney Image\nKinney Image Details\nFILENAME si-ag1962-p100-tolson\nTOP
        PICK false\nPEOPLE Edward Norris Tolson\nCREATED AT March 29, 2013 12:32\nUPDATED
        AT March 29, 2013 12:32\nComments (0)\nNo comments yet.\nPowered by Active
        Admin 0.5.1"}'
  recorded_at: Fri, 29 Mar 2013 16:33:48 GMT
recorded_with: VCR 2.4.0
