---
http_interactions:
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=0004685&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "0004685",
        "imagefile": "/storage/00046/0004685.jp2",
        "width": "8925",
        "height": "11344",
        "dwtLevels": "7",
        "levels": "7",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:33:33 GMT
[...]
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1962-p100-tolson&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1962-p100-tolson",
        "imagefile": "/storage/si-ag/si-ag1962-p100-tolson.jp2",
        "width": "1276",
        "height": "1420",
        "dwtLevels": "7",
        "levels": "4",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:33:33 GMT
[...]
- request:
    method: get
    uri: http://scrc.lib.ncsu.edu/adore-djatoka/resolver?rft_id=si-ag1964-p123-atkins&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "si-ag1964-p123-atkins",
        "imagefile": "/storage/si-ag/si-ag1964-p123-atkins.jp2",
        "width": "331",
        "height": "327",
        "dwtLevels": "7",
        "levels": "2",
        "compositingLayerCount": "1"
        }
  recorded_at: Fri, 29 Mar 2013 16:33:34 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:60316/admin/kinney_images"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"get","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":""}'
  recorded_at: Fri, 29 Mar 2013 16:33:35 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//a[./@href][(((./@id = ''New Kinney Image''
        or contains(normalize-space(string(.)), ''New Kinney Image'')) or contains(./@title,
        ''New Kinney Image'')) or .//img[contains(./@alt, ''New Kinney Image'')])]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":[{"ELEMENT":"{3b9c2e9e-fb7d-4404-940c-6abdc8ae8463}"}]}'
  recorded_at: Fri, 29 Mar 2013 16:33:35 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/element/%7B3b9c2e9e-fb7d-4404-940c-6abdc8ae8463%7D/click
    body:
      encoding: UTF-8
      string: '{}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"clickElement","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":"ok"}'
  recorded_at: Fri, 29 Mar 2013 16:33:35 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/element/%7B483fc635-47af-4b75-a210-e5188cd081c9%7D/name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementTagName","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":"input"}'
  recorded_at: Fri, 29 Mar 2013 16:33:36 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/element/%7B483fc635-47af-4b75-a210-e5188cd081c9%7D/attribute/type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementAttribute","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":"text"}'
  recorded_at: Fri, 29 Mar 2013 16:33:36 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/execute
    body:
      encoding: UTF-8
      string: '{"script":"arguments[0].value = ''''","args":[{"ELEMENT":"{483fc635-47af-4b75-a210-e5188cd081c9}"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"executeScript","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":null}'
  recorded_at: Fri, 29 Mar 2013 16:33:36 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/element/%7B483fc635-47af-4b75-a210-e5188cd081c9%7D/value
    body:
      encoding: UTF-8
      string: '{"value":["000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"sendKeysToElement","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":""}'
  recorded_at: Fri, 29 Mar 2013 16:33:36 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/element/%7B4212d4c9-cfe1-4e2b-8f68-35ebfc077142%7D/attribute/checked
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementAttribute","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":null}'
  recorded_at: Fri, 29 Mar 2013 16:33:36 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/5d9963fe-c796-46dd-82b9-86625109bd63/element/%7B4212d4c9-cfe1-4e2b-8f68-35ebfc077142%7D/click
    body:
      encoding: UTF-8
      string: '{}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"clickElement","sessionId":"5d9963fe-c796-46dd-82b9-86625109bd63","status":0,"value":"ok"}'
  recorded_at: Fri, 29 Mar 2013 16:33:36 GMT
recorded_with: VCR 2.4.0
