<div id="action_buttons">
    <%= link_to add_your_story_path, :id => :add_story_btn do %>
      <span><%= t('kinney.pages.add_your_story.title') %></span>
    <% end -%>
  
    <%= link_to giving_path,  :id => :giving_btn do %>
      <span>Giving <i class="icon-external-link"></i></span>
    <% end -%>
</div>  
<div class="row">
  <div class="span3">&nbsp;</div>
</div>