<div class="row" id="action_buttons">
  <div class="span6">
    <%= link_to t('kinney.pages.add_your_story.title'), add_your_story_path, :class => 'btn btn-large btn-danger', :id => :add_story_btn %>
  </div>
  <div class="span6">
    <%= link_to 'http://www.lib.ncsu.edu/giving',  :class => 'btn btn-large btn-danger', :id => :giving_btn do %>
      Giving <i class="icon-external-link"></i>
    <% end -%>
  </div>
</div>
<div class="row">
  <div class="span3">&nbsp;</div>
</div>