<%= link_to(clip, clip.video_switcher_params.merge(:class => [:thumbnail, :thumbnail_video])) do %>
  <div class="thumbnail_image clip_thumbnail">
    <%= image_tag clip.png, :alt => clip.title %>
    <% if !clip.duration.blank? %>
      <span class="duration label"><%= clip.duration_pretty %></span>
    <% end -%>
  </div>
  <%= render partial: '/kinney/clip_link_caption', locals: {clip: clip} %>
<% end -%>