<div class="row">
  <div class="span6">
    <h2><%= t 'kinney.contact.title' %></h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><%= t 'kinney.contact.phone_number' %></td>
          <td>I'm not giving you my phone number. You'll probably want to replace this whole partial at app/views/kinney/contact.html.erb.</td>
        </tr>
        <tr>
          <td><%= t 'kinney.contact.email' %></td>
          <td><%= mail_to 'jronallo@gmail.com' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>