<%= form_tag search_path, :method => :get, :class => ['navbar-form', 'navbar-left'], :role => 'search' do %>
  <div class="form-group">
    <%= text_field_tag :q, params[:q], :class => 'form-control', :placeholder => t('kinney.search.placeholder') %>
  </div>
  <%= submit_tag t('kinney.search.submit_text'), :name => nil, :class => ['btn btn-default'] %>
<% end %>
