<%# FIXME: Is this used anymore? %>
<h2><%= link_to title, people_path %></h2>
<ul class="thumbnails more_people">
  <% @people.each do |person| %>
    <li class="col-md-3">
    <%= link_to(person, :class => :thumbnail) do %>
      <%= image_tag person.clips.first.png, :alt => person.clips.first.title %>
        <div class="caption">
          <%= person.full_name %>
        </div>
    <% end -%>
    </li>
  <% end -%>
</ul>
