<%= content_for :header do %>
  <h1><%= t 'kinney.pages.about.title' %></h1>
<% end -%>

<p>You can override this template at: app/views/kinney/pages/_about_text.html.erb</p>

<p>
  Some text about Kinney.
</p>

<%= render '/kinney/contact' %>