<%= content_for :header do %>
  <div class="well">
    <h1><%= application_name %></h1>
    <p>Rails Engine for delivering oral history video clips.</p>
    <p>Replace this in app/views/kinney/pages/_home_header.html.erb</p>
  </div>
<% end -%>