<% @title = t('kinney.pages.about.title') %>
<% @meta_description = t('kinney.pages.about.meta_description') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render '/kinney/pages/about_text' %>
  </div>
</div>


