<% @title = t('kinney.pages.about.title') %>
<% @meta_description = t('kinney.pages.about.meta_description') %>

<%= content_for :header do %>
  <div class="row">
    <div class="span12">
      <h1><%= t 'kinney.pages.about.title' %></h1>
    </div>
  </div>
<% end -%>

<div class="row">
  <div class="span12">
    <p>
      <%= render '/kinney/pages/about_text' %>
    </p>
  </div>
</div>

<%= render '/kinney/contact' %>
