<% @meta_description = t('kinney.pages.home.meta_description') %>

<%= render '/kinney/pages/home_header' %>

<div class="row">
  <div class="col-md-9">
    <div id="featured_clip">
      <%= render 'home_featured_clip' %>
    </div>
  </div>

  <div class="col-md-3">
    <%= render '/kinney/pages/home_right_sidebar' %>
  </div>

</div>

<% content_for :catch do -%>
  <%= render "home_catch" %>
<% end -%>


