<div class="modal" id="modal_image_<%= index %>" style="display:none">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3><%= kinney_image_title(image, person) %><%#= image.title %></h3>
  </div>
  <div class="modal-body">
    <%#= image.description %>
    <%= link_to image.sal_path, :target => '_blank' do %>
    <%# FIXME: do not use djatoka here but a helper method hook %>
      <%= djatoka_image_tag image.filename, :scale => 360, :height => 360, :alt => person.full_name %><br>    
      More information on this image <i class="icon-external-link"></i>
    <% end -%>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>